@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Lobster';
		font-weight: 400;
		src: url('assets/fonts/Lobster-Regular.ttf');
	}
	@font-face {
		font-family: 'DejaVuSansMono';
		font-weight: 400;
		src: url('assets/fonts/DejaVuSansMono.ttf');
	}
	@font-face {
		font-family: 'DejaVuSansMonoBold';
		font-weight: 700;
		src: url('assets/fonts/DejaVuSansMono-Bold.ttf');
	}
	@font-face {
		font-family: 'Kavoon';
		font-weight: 400;
		src: url('assets/fonts/Kavoon-Regular.ttf');
	}
	@font-face {
		font-family: 'Prompt';
		font-weight: 600;
		src: url('assets/fonts/Prompt-Bold.ttf');
	}
	body {
		margin: 0;
		background-color: #151515;
		color: white;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	code {
		font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	}
}

@layer components {
	#page-container {
		position: relative;
		min-height: 100vh;
	}

	#content-wrap {
		background-color: #ffd166;
		padding-bottom: 10rem; /* Footer height */
	}

	#footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 2.5rem; /* Footer height */
        background-color: #073b4c;
	}
	.menu-active {
		color: #5ca1e3;
	}
	.img-container {
		position: relative;
		width: 512px; /* The size you want */
	}
	.img-container:after {
		content: '';
		display: block;
		padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
	}

	.img-container img {
		position: absolute; /* Take your picture out of the flow */
		top: 0;
		bottom: 0;
		left: 0;
		right: 0; /* Make the picture taking the size of it's parent */
		width: 100%; /* This if for the object-fit */
		height: 100%; /* This if for the object-fit */
		object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
		object-position: center;
	}

	.special-text {
		background: -webkit-linear-gradient(45deg, #9153fb, #00ff95 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.MuiDialogTitle-root {
		color: white;
	}

	.MuiButton-label {
		color: white;
	}
}
